/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
    text-align: center;
    font-size: 48px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #e8f1ff;
}

#lightbox {
    display: none;
    text-align: center;
    font-size: 16;
    width: 50%;
    margin-left: 25%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 35%;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.7);
}
